.main{
    min-height: 80vh;
}

.register-page form{
    max-width: 450px;
    margin: 50px;
}

.register-page form{
    
}

.login-page form{
    width: 450px;
    margin: auto;
    margin-top: 3rem;
    border: 1px solid rgba(105, 97, 97, 0.758);
    padding: 1.5rem;
    /* border-radius: ; */
}